name: Build and Publish to GHCR

on:
  push:
    branches: [ main ]
  workflow_dispatch:  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u vid131 --password-stdin

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/vid131/mwebber-blog:latest .
          docker push ghcr.io/vid131/mwebber-blog:latest
